<?xml version="1.0" encoding="utf-8"?><configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<connectionStrings>
		<add name="client_schedule" connectionString="server=localhost;user=sqlUser;database=client_schedule;port=3306;password=Passw0rd!" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>

</configuration>